<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% if page.title %}{{ page.title }} · {% endif %}{{ site.name }}</title>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <div class="site">
      <header class="site-header">
        {% include header.html %}
      </header>

      <main class="site-main">
        <div class="site-content">
          {{ content }}
        </div>
      </main>

      {% include footer.html %}
    </div>
  </body>
</html>
